</div>

<div id="message_container">
	<textarea class='autoExpand' id="message_input" placeholder="Scrivi un messaggio" rows='1'></textarea>
	<img id="send_button" src="/images/send_button.png"/>
</div>
</div>

</body>
</html>
