<!DOCTYPE html>
<html>

<head>
	<title>rMind</title>

	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="msapplication-tap-highlight" content="no" />

	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' />
	<link rel='stylesheet' href='/stylesheets/external/bootstrap-reboot.min.css' />
	<link rel="stylesheet" href="/stylesheets/external/simplebar.min.css" />

	<script src="/scripts/external/jquery.min.js"></script>
	<script src="/scripts/external/jquery.color.min.js"></script>
	<script src="/scripts/external/autosize.min.js"></script>
	<script src="/scripts/external/simplebar.min.js"></script>
	<script src="/scripts/external/screenfull.min.js"></script>
	<script src="/scripts/external/hammer.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5YCt6zUjynohzf7RsXKa2B0qvDCeEh3A"></script>
	<script src="/scripts/external/gmaps.min.js"></script>
	
	<link rel='stylesheet' href='/stylesheets/style.css' />
	
	<script src="/scripts/locals.js"></script>
	<script src="/scripts/chat.js"></script>
	<script src="/scripts/design.js"></script>
	<script src="/scripts/card.js"></script>	
	<script src="/scripts/clock.js"></script>
	<script src="/scripts/calendar.js"></script>
	<script src="/scripts/geocoding.js"></script>
	<script src="/scripts/main.js"></script>
</head>

<body>
	<nav>
		<div id="left_button">
		<% if(!turnBackButton) { %>
			<img id="menu_button" onClick="openAside()" src="/images/menu_button.png" />
			<img id="close_button" onClick="closeAside()" src="/images/close_button.png" />
		<% } else { %>
			<a href="/" class="nostyle"><img id="close_button" style="opacity: 1; pointer-events: auto;" src="/images/close_button.png" /></a>
		<% } %>
		</div>
		<div id="logo"><a href="/" class="nostyle"><img src="/images/full_logo.png" /></a></div>
		<div id="avatar">
			<% if(user && user.avatar) { %>
				<img onClick="openAside()" src="<%- user.avatar %>">
			<% } else { %>
				<img onClick="openAside()" src="/users/anonym/avatar.jpg">
			<% } %>
		</div>
	</nav>

	<aside>
		<div id="aside_scroller">
			<div id="aside_content">
				<div id="aside_profile">
					<% if(!logged) { %>
						<div id="aside_avatar_container"><img src="/users/anonym/avatar.jpg"></div>
						<div id="username">Anonymous</div>
					<% } else { %>
						<% if(user && user.avatar) { %>
						<div id="aside_avatar_container"><img src="<%- user.avatar %>"></div>
						<% } else { %>
						<div id="aside_avatar_container"><img src="/users/anonym/avatar.jpg"></div>
						<% } %>
					
						<% if(user && user.username) { %>
						<div id="username"><%- user.username %></div>
						<% } else { %>
						<div id="username">Anonymous</div>
						<% } %>
					
					<% } %>
				</div>
				<hr />				
				
				<% if(logged) { %>
					<ul>
					<a href="/account" class="nostyle"><li><img src="/images/aside/account.png"><div>Account settings</div></li></a>
					<a href="/logout" class="nostyle"><li><img src="/images/aside/logout.png"><div>Logout</div></li></a>				
					</ul>
					<hr />
					<ul>
					<a href="#" onClick="about()" class="nostyle">
						<li><img src="/images/aside/info.png">
							<div>About</div>
						</li>
					</a>
					<a href="#" onClick="toggleFullscreen()" class="nostyle">
						<li><img src="/images/aside/fullscreen.png">
							<div>Toggle fullscreen</div>
						</li>
					</a>
				</ul>
				<% } else { %>
				<ul>					
					<a href="#" onClick="toggleFullscreen()" class="nostyle">
						<li><img src="/images/aside/fullscreen.png">
							<div>Toggle fullscreen</div>
						</li>
					</a>
				</ul>
				<% } %>				
				<div id="spacer"></div>
				<div id="aside_footer">
					Copyright &copy; 2018 Roberto Negro<br/>
					<span id="smaller">(#178932 - Università degli Studi di Trento - a.a. 2017/18)</span>
				</div>
			</div>
		</div>
	</aside>

	<div id="darker_overlay" onClick="closeAside()"></div>

	<div id="body_wrapper">
