<% include header.ejs %>

<div class="message recv">Welcome to rMind!</div>
<div class="message recv">How can I help you?</div>
<div class="message sent">What to do this week?</div>
<div class="message recv">Checking..</div>

<% include footer.ejs %>
