$background-color: #c3bcbd;

$header-color: #90323d;
$header-height: 4rem;

$cloud-size: 4rem;

$message-height: 4rem;
$message-color: #f2f2f2;

$aside-color: #553034;

$float-button-size: 3rem;

$indicators-size: .7rem;
$indicators-anim-duration: .6s;

@media screen and (max-width:800px) {
	aside {
		width: 80% !important;
		left: -80% !important;
	}

	body {
		&.aside_open {
			left: 80% !important;
		}
	}

	nav {
		&.aside_open {
			left: 80% !important;
		}
	}
}

@keyframes indicatorsAnim {
	0% {
		transform: translate3d(0, -$indicators-size/4, 0);
	}
	100% {
		transform: translate3d(0, +$indicators-size/4, 0);
	}
}

html {
	font-size: 100% !important;
	overflow-x: hidden;
}

body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	bottom: 0;

	background-color: $background-color;
	background-image: url('../images/background_pattern.png');
	background-repeat: repeat;
	background-size: 5rem 5rem;

	font-family: 'Roboto', sans-serif;

	padding-top: $header-height;

	transition: left 0.3s ease-in;

	&.aside_open {
		left: 35%;
		transition: left 0.3s ease-out;
	}
}

a {
	&.nostyle,
	&.nostyle:visited,
	&.nostyle:hover,
	&.nostyle:active,
	&.nostyle:focus,
	&.nostyle:active:hover {
		text-decoration: none;
		color: inherit;
		outline: 0;

		img {
			border: 0 none;
			outline: 0;
		}
	}
}

aside {
	z-index: 1003;
	visibility: hidden;

	position: fixed;
	top: 0;
	bottom: 0;

	width: 35%;
	left: -35%;

	padding-top: $header-height;
	padding-bottom: $header-height;

	transition: width 0.3s ease-in, left 0.3s ease-in, visibility 0s linear 0.3s;

	background-color: $aside-color;
	color: #fff;

	&.aside_open {
		visibility: visible;

		box-shadow: 0 0 5px rgba(#000, 0.3);

		transition: width 0.3s ease-out, left 0.3s ease-out;
		left: 0 !important;
	}

	#aside_profile {
		#avatar {
			width: 50%;
			height: auto;
			margin: auto;
			border-radius: 50%;
			background-color: #fff;
			border: 5px solid #fff;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
			}
		}

		#username {
			font-weight: bold;
			text-align: center;
		}
	}

	hr {
		height: 1px;
		width: 80%;

		margin: 10px auto 20px auto;

		background-color: #442226;

		border: 0;
		border-bottom: 1px solid #674f52;
	}

	ul {
		list-style-type: none;
		padding: 0;

		a {
			li {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: center;
				align-content: center;

				img {
					height: 1.5rem;
					margin-right: 1.5rem;
				}

				padding-left: 3rem;
				padding-right: 3rem;
				padding-top: .75rem;
				padding-bottom:.75rem;

				&:hover {
					background-color: #442226 !important;
				}
			}
		}
	}

	#aside_footer {
		text-align: center;
		position: absolute;
		bottom: 1rem;
		left: 0;
		width: 100%;
		line-height: 1rem;
		font-size: 1rem;

		color: #442226;

		#smaller {
			font-size: .75rem;
			line-height: .75rem;
		}
	}
}

nav {
	z-index: 1002;
	&.aside_open {
		left: 35%;
		transition: left 0.3s ease-out;

		div,
		img {
			transition: opacity 0.3s ease-out;
		}

		#left_button {
			#close_button {
				opacity: 1;
				pointer-events: auto;
			}
			#menu_button {
				opacity: 0;
				pointer-events: none;
			}
		}
		#logo {
			opacity: 0;
		}
		#avatar {
			opacity: 0;
		}
	}

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	background-color: $header-color;
	height: $header-height;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;

	padding-left: $header-height/3;
	padding-right: $header-height/16;

	transition: left 0.3s ease-in;

	box-shadow: 0 0 5px rgba(#000,
	0.3);

	div,
	img {
		height: 100%;
		transition: opacity 0.3s ease-in;
	}

	#left_button {
		position: relative;

		#close_button,
		#menu_button {
			padding-top: $header-height/3;
			padding-bottom: $header-height/3;

			position: absolute;
			top: 0;
			left: 0;

			&:hover {
				cursor: pointer;
			}
		}

		#close_button {
			opacity: 0;
			pointer-events: none;
		}
		#menu_button {
			opacity: 1;
			pointer-events: auto;
		}
	}

	#logo {
		padding-top: $header-height/4;
		padding-bottom: $header-height/4;
	}

	#avatar {
		&:hover {cursor: pointer}
		
		padding-top: $header-height/12;
		padding-bottom: $header-height/12;
		
		
		img {
			background-color: #fff;
			border: 0.2rem solid #fff;
			border-radius: 50%;
		}
	}
}

#darker_overlay {
	z-index: 1001;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	content: '';
	background-color: #000;

	transition: opacity 0.15s ease-in;
	opacity: 0;
	pointer-events: none;

	&.aside_open {
		opacity: 0.70;
		pointer-events: auto;
		transition: opacity 0.15s ease-out;
	}
}

#body_wrapper {
	position: absolute;
	top: $header-height;
	left: 0;
	bottom: 0;
	width: 100%;

	overflow: hidden;

	display: flex;
	flex-direction: column;

	#chat_scroller {
		position: relative;
		overflow: hidden;

		width: 100%;
		flex: 1;

		.floating_button {
			position: absolute;
			z-index: 999;
			
			width: 0;
			height: 0;
			padding: 0;
			margin: 0;
			
			transition: width 0.25s ease-in, height 0.25s ease-in, padding 0.25s ease-in, margin 0.25s ease-in;
			
			background-color: #f2f2f2;
			border-radius: 50%;
			
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			align-content: center;
			
			box-shadow: 2px 2px 4px rgba(#000, 0.2);
			
			&:hover {
				cursor: pointer;
			}
			
			img {
				height: 100%;
			}

			&#bottom_button {
				top: $cloud-size/4 + $float-button-size/2;
				right: $cloud-size/4 + $float-button-size/2;
			
				
				&.show{
					margin-top: -$float-button-size/2;
					margin-right: -$float-button-size/2;
				}
			}
			
			&.show{
				width: $float-button-size;
				height: $float-button-size;			
				padding: $float-button-size/4;
				
				transition: width 0.25s ease-out, height 0.25s ease-out, padding 0.25s ease-out, margin 0.25s ease-out;
			
			}
		}
		


		#chat_container {
			position: relative;
			width: 100%;

			padding: $cloud-size/8;

			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;


			.message {
				display: inline-block;
				position: relative;
				text-align: left;

				color: rgba(#000, 0.6);

				box-shadow: 1px 1px 2px rgba(#000, 0.2);

				width: auto;

				border-radius: $cloud-size/8;
				font-size: $cloud-size/4;
				padding: $cloud-size/8;
				margin: $cloud-size/8;

				&:after {
					content: '';

					position: absolute;

					top: 100%;

					width: $cloud-size/6;
					height: $cloud-size/6;

					transform-origin: 50% 50%;
					transform: rotate(45deg);

					margin-top: -$cloud-size/11;
					box-shadow: 1.75px 1.75px 2px rgba(#000, 0.2);
				}

				&.sent {
					background-color: #dbcacc;
					align-self: flex-end;

					&:after {
						right: $cloud-size/2;
						background-color: #dbcacc;
					}
				}

				&.recv {
					background-color: #f2f2f2;
					align-self: flex-start;

					&:after {
						left: $cloud-size/2;
						background-color: #f2f2f2;
					}
				}
			}

			#thinking_indicators {
				display: none;

				flex-direction: row;
				justify-content: center;
				align-items: center;

				margin-top: $indicators-size;

				&.show {
					display: flex;
				}

				.indicator {
					position: relative;

					animation-name: indicatorsAnim;
					animation-duration: $indicators-anim-duration;
					animation-iteration-count: infinite;
					animation-direction: alternate;
					animation-timing-function: ease-in-out;

					&:nth-child(1) {
						animation-delay: -0s;
					}

					&:nth-child(2) {
						animation-delay: -$indicators-anim-duration/3;
					}

					&:nth-child(3) {
						animation-delay: -2*$indicators-anim-duration/3;
					}

					margin: $indicators-size;
					background-color: #674f52;
					border-radius: 50%;
					height: $indicators-size;
					width: $indicators-size;
				}
			}
		}
	}

	#message_container {
		display: flex;
		flex-direction: row;

		width: 100%;
		height: auto;

		background-color: $message-color;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;


		textarea {
			resize: none;
			display: block;
			overflow: hidden;

			flex: 1;

			background-color: #fff;

			border: 0;
			box-shadow: 0;
			outline: none;

			border-radius: $message-height/4;

			color: #666;

			font-size: $message-height/4;
			padding: $message-height/4;

			margin-top: $message-height/8;
			margin-left: $message-height/8;
			margin-bottom: $message-height/8;

			&::placeholder {
				color: #d6d6d6;
				font-size: $message-height/4;
			}
		}

		#send_button {
			height: $message-height/3;
			margin-left: $message-height/3;
			margin-right: $message-height/3;

			&:hover {
				cursor: pointer;
			}
		}
	}
}
